<html>
    <head>
        <title>Sistema DABM</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p> Esto es un párrafo</p>
        <p> Esto es otro párrafo</p>
        <h1> Título 1</h1>
        <h2> Título 2</h2>
        <h3> Título 3</h3>
        <h4> Título 4</h4>
        <h5> Título 5</h5>
        <h6> Título 6</h6>

        <input type = "text">
        <input type = "date">
        <input type = "password">
        <input type = "number">
        <input type = "color">
        <input type = "datetime-local">
        <input type = "file">
        <br> 
        <img alt="Logo Escuela" height="147" src="https://escuelaing.s3.amazonaws.com/staging/images/logo-ecijg.width-380.png?AWSAccessKeyId=AKIAWFY3NGTFBJGCIWME&amp;Signature=hc%2F3ceEqsGrYYPV0e4IsvUlqmig%3D&amp;Expires=1637630091" width="380">
        <p>
            <select>
                <option value = 1 > Lunes </option>
                <option value = 2 > Martes </option>
                <option value = 3 > Miércoles </option>
            </select>
        </p>

        <p>
            <input type = "button" value = Ingreso>
        </p>

        <p> 
            <input type = "radio" name = "sexo" value = "M"> Masculino
            <input type = "radio" name = "sexo" value = "F"> Femenino
        </p>

        <p>
            <input type = "checkbox" id = "hipertensión" value = "hi"> Hipertensión
            <input type = "checkbox" id = "diabetes" value = "hi"> Diabetes
        </p>

        <table border = "1">
            <tr>
                <td>
                    Nombre
                </td>
                <td>
                    Tipo
                </td>
            </tr>
            <tr>
                <td>
                    David Guerra
                </td>
                <td>
                    Administrador
                </td>
            </tr>
            <tr>
                <td>
                    Juan Rodríguez
                </td>
                <td>
                    Paciente
                </td>
            </tr>
        </table>
    </body>
    <footer>
        <p> Copyright - DABM - 2021</p>
    </footer>
</html>
