<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de temperatura</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            setTimeout(function(){
                window.location.reload()
            },1000)
        </script>
</head>
<body style = "background-image: url('/static/fondo2.jpg')">
    <p><h4>MONITOR DE TEMPERATURA</h4></p>
        <br>
        <p>
            <table class="table">
                <thead>
                <tr>
                    <th>Rango</th>
                    <th>Mínimo</th>
                    <th>Máximo</th>
                </tr>
                </thead>
                <tbody>     
                <tr class="table-primary">
                    <td>{{datos[0][0]}}</td>
                    <td>{{datos[0][1]}}</td>
                    <td>{{datos[0][2]}}</td>
                </tr>
                <tr class="table-success">
                    <td>{{datos[1][0]}}</td>
                    <td>{{datos[1][1]}}</td>
                    <td>{{datos[1][2]}}</td>
                </tr>
                <tr class="table-danger">
                    <td>{{datos[2][0]}}</td>
                    <td>{{datos[2][1]}}</td>
                    <td>{{datos[2][2]}}</td>
                </tr>
                
                </tbody>
            </table>
          </p>
          <p>Temperatura : {{lectura}}</p>
          <p>{% if color == 1 %}
              <div style = "width: 500px; height: 500px; background-color:lightblue;"></div>
              {% endif %}
          </p>

          <p>{% if color == 2 %}
            <div style = "width: 500px; height: 500px; background-color:green;"></div>
            {% endif %}
          </p>

          <p>{%if color == 3%}
            <div style = "width: 500px; height: 500px; background-color:red;"></div>
            {% endif %}
          </p>
    
</body>
</html>